<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Search Engine</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div id="search-header">
            <form action="#">
                <input id="search-input" type="search" placeholder=" Enter search query here..." autofocus>
                <input id="submit-btn" type="submit" value="🔍">
            </form>
        </div>
        <div id="results-container">
            <!-- Example search result format -->
            <div class="result"> <!-- Add a listener for a click -->
                <h2 class="title">Jack Hagen</h2>
                <p class="link">https://hagen.rip/</p>
                <p class="description">About Me I'm Jack Hagen. I'm a student, double majoring in Computer Science and Political Science.</p>
            </div>
            <div class="result"> 
                <h2 class="title">Google</h2>
                <p class="link">https://google.com</p>
                <p class="description">The #2 search engine for the world.</p>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>